<%- include('partials/header', { title: title }) %>
<main>
    <section class="products">
        <h2><%= title %></h2>
        <% if (products && products.length > 0) { %>
            <div class="product-grid">
                <% products.forEach(product => { %>
                    <div class="product-card">
                        <!-- Вывод изображения товара -->
                        <img src="<%= product.image %>" alt="<%= product.name %>" class="product-image" style="width:300px; height:300px; object-fit:cover; margin-bottom:10px;">
                        <h3>
                            <a href="/products/<%= category %>/<%= product._id %>">
                                <%= product.name %>
                            </a>
                        </h3>
                        <p>Price: ₸<%= product.price %></p>
                        <a href="/products/<%= category %>/<%= product._id %>" class="btn">View Details</a>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p>No products found in this category.</p>
        <% } %>
    </section>
</main>
<%- include('partials/footer') %>

